@font-face {
    font-family: 'LiberationSerif';
    src: url('/assets/fonts/LiberationSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LiberationSerif';
    src: url('/assets/fonts/LiberationSerif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LiberationSerif';
    src: url('/assets/fonts/LiberationSerif-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'LiberationSerif';
    src: url('/assets/fonts/LiberationSerif-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'LiberationMono';
    src: url('/assets/fonts/LiberationMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LiberationMono';
    src: url('/assets/fonts/LiberationMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LiberationMono';
    src: url('/assets/fonts/LiberationMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'LiberationMono';
    src: url('/assets/fonts/LiberationMono-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'LiberationSans';
    src: url('/assets/fonts/LiberationSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LiberationSans';
    src: url('/assets/fonts/LiberationSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LiberationSans';
    src: url('/assets/fonts/LiberationSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'LiberationSans';
    src: url('/assets/fonts/LiberationSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
document {
    min-height: 100%;
}
body {
    margin: 0 auto;
    padding: 0;
    min-height: 100%;
    background: #fdfdfd;
    color: black;
    font-size: 18px;
    /* font-family: 'Arial', sans-serif; */
    font-family: 'LiberationSans', sans-serif;
    line-height: 1.42857143em;
    width: 100%;
    max-width: 1024px;
}

#main > ul {
    font-size: 0.75em;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1024px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 40px;
    background: #f0f0f0;
    border-bottom: 1px solid #d0d0d0;
}

#main > ul > li {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

#main > ul > li > a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    text-decoration: none;
    color: #012622;
    font-size: 1.2em;
}

#main > ul > li:last-child > a {
    font-size: 1em;
    padding: 0 14px;
}

#content {
    margin: 0 auto;
    padding: 20px;
    width: calc(100%-40px);
    margin: 40px 0;
}

footer {
    height: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    border-top: 1px solid #d0d0d0;
    background: #f0f0f0;
}

footer p {
    color: #012622;
    font-size: 0.75em;
    text-indent: 10px;
    line-height: 30px;
}

p {
    font-size: 1em;
    line-height: 1.42857143em;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
}

em {
    font-style: italic;
    line-height: 1.42857143em;
    white-space: pre-wrap;
    word-wrap: break-word;
}

img {
    max-width: 100%;
    height: auto;
}

pre {
    /* word-wrap: break-word; */
    overflow-x: visible;
    
    font-size: 0.875em;
    line-height: 1.42857143em;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    white-space: pre;
}

pre code {
    font-family: 'LiberationMono', monospace;
}

pre:has(code:not([class]), code.no-wrap, code.nowrap) {
    background: none;
    border: 1px solid #eee;
    white-space: pre-wrap;
}

pre:has(code:not([class]), code.no-wrap, code.nowrap) code {
    font-family: 'LiberationSans', sans-serif;
}

/* SHELL */
pre > code.shell, pre > code.language-shell {
    color: #f8f8f8;
}

pre:has(code.shell, code.language-shell) {
    background: #151515;
}

/* WIP: CORRECTION */
pre > code.wip {
    font-family: 'LiberationSerif', serif;
    color: #f80000;
    font-size: 1em;
    font-style: italic;
}

/* POEM */
pre > code.poem, pre > code.language-poem {
    font-family: 'LiberationSerif', serif;
    color: #111111;
    font-size: 1em;
    font-style: italic;
}

pre:has(code.poem, code.language-poem) {
    background: #fdfdfd;
    font-size: 1em;
    padding: 0;
    border: none;
    margin: 40px 10px;
    white-space: pre-wrap;
}

h1,h2,h3,h4 {
    font-family: 'LiberationSerif', serif;
}

h1 {
    font-size: 1.8em;
    margin-bottom: 0.4em;
    line-height: 1.1em;
}

h2 {
    font-size: 1.4em;
    line-height: 1.1em;
    margin-bottom: 0.2em;
}

h3 {
    font-size: 1em;
    margin-bottom: 0.2em;
}

blockquote {
    white-space: pre-wrap;
}

a {
    color: #E98A15;
    text-decoration: underline;
}

table {
    /* table-layout: fixed; */
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
}

table tr {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
/* table tr:hover {
    white-space: wrap;
    overflow: unset;
} */

table tr th {
    font-size: 0.7em;
    font-weight: 600;
    border: 1px solid #e0e0e0;
    background: #f0f0f0;
}

table tr td {
    font-size: 0.8em;
    padding: 0;
    margin: 0;
    border: 1px solid #e0e0e0;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 263px;
    background: white;
}

table tr td:first-child {
    color: #335599;
}

table tr td:first-child:hover,
table tr td:first-child:hover ~ td {
    white-space: wrap;
    position: relative;
    background: #f4f4ff;
    top: 0;
    z-index: 10;
    outline: 1px solid #e0e0e0;
    padding-bottom: 20px;
    height: 260px;
}

table tr td:first-child:hover ~ td:last-child {
    display: block;
    position: absolute;
    left: 0;
    top: 260px;
    height: 20px;
    padding-bottom: 0;
    outline: 0;
    border: 0;
    color: red;
}

table tr th:last-child,
table tr td:last-child {
    display: none;
}
